.menu-botones {
    height: 100%;
    width: auto;
    min-width: 35%;
    background-color: #d366ff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    z-index: 300;
}

.boton {
    background-color: #e6a927;
    color: #000;
    font-weight: bold;
    border: 2px solid #bd8b1f;
    border-radius: 200px;
    font-size: 1.2vw;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    width: 60%;
    height: 11%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-style: bold;

    opacity: 0;
    animation: fadeInUp 0.4s ease-in-out forwards;
}

.boton:nth-child(1) { animation-delay: 0.1s; }
.boton:nth-child(2) { animation-delay: 0.2s; }
.boton:nth-child(3) { animation-delay: 0.3s; }
.boton:nth-child(4) { animation-delay: 0.4s; }

.boton:hover {
    background-color: #bd8b1f;
    transform: scale(1.07);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.boton:active {
    transform: scale(0.96);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.icono {
    font-size: 1.4vw;
    vertical-align: middle;
    margin-right: 0.5vw;
    display: flex;
    align-items: center;
}

.ImagenLogo {
    max-height: 500px;
    max-width: 500px;
    height: 40%;
    width: 500px;
    position: relative;
    bottom: 0;
    opacity: 0;
    animation: fadeInLogo 1s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes fadeInLogo {
    0% {
        opacity: 0;
        transform: scale(0.8);  
    }
    100% {
        opacity: 1;
        transform: scale(1);  
    }
}

.imagen-logo {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

#botonEliminarPedido {
    background-color: #ff4545;
    border: 2px solid #af2e2e;
}
#botonEliminarPedido:hover {
    background-color: #b83232;
    border: 2px solid #af2e2e;
}

#botonVerPedidos {
    background-color: #8c4b1b;
    border: 2px solid #522e14;
}
#botonVerPedidos:hover {
    background-color: #6e3b16;
    border: 2px solid #522e14;
}

@media (max-width: 1100px) {
    .menu-botones {
        height: 100vh;
        min-height: 90vh;
        width: 90%;
    }
    .boton {
        width: 70%;
        height: 11%;
        font-size: 5vw;
        justify-content: center;
        align-items: center;
    }
    .icono {
        display: none;
    }
    .boton {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
